/* Global rules */

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

body {
    background-image: url("../images/homebg.jpg");
    color: #2F356D;
}
/* 
.dark-theme {
    background-color: #2F356D;
    color: #fff;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    color: #fff;
    background: #d6d6d6;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    padding: 1em;
}
  
/* img#banner {
    display: block;
    width: 100%;
} */

main.wrapper {
    background-color: #f5f5f5;
    overflow: auto;
    padding: 1em;
}

p {
    margin: 1em 0;
}

h2, h3 {
    font-weight: bold;
    margin-left: 0;
    line-height: 1.2em;
}

a {
    color: #a412dd9a;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color:#2F356D;
    text-decoration: none;
    border-radius: 10px;
}

a#logo:hover {
    background-color:#2f356d00;
    border: none;
}

button#theme {
    background-color:#2F356D;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    font-size: medium;
    padding: 5px;
    border: none;
}

button#theme:hover {
    background-color:#fff;
    color: #2F356D;
    border: none;
}

button {
    background-color:#2F356D;
    color: #fff;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color:#fff;
    color: #2F356D;
    border-radius: 5px;
    border: none;
}

form {
    border: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
  }

  button#search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2F356D;
  }

  @keyframes jumpAnimation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

  #id1:hover {
    animation: jumpAnimation 1s infinite; /* Apply the animation */
    transition: transform 0.3s ease-out; /* Add a smooth transition effect */
  }

  input {
    border: none;
    outline: none; 
    width: 100%;
  }

  .deals-page {
    display: flex;
    justify-content: space-between;
  }

  .deals-table {
    display: flex;
    flex-direction: column;
  }

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-self: flex-end;
    clear: both;
    text-align: center;
    padding: 30px;
    color: #2F356D;
}

.flex-footer {
    display: flex;
    flex-direction: column;
}

table, th, td {
    border: none;
    border-collapse: collapse;
  }

/* Responsive rules */

/* DESKTOP */
@media all and (min-width: 1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }

    h1 {
        width: 70%;
        padding: 1em;
        margin: auto;
    }

    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
}

/* TABLET */
@media all and (min-width: 501px) and (max-width: 1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }

    h1 {
        width: 80%;
    }

    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
}

/* PHONE */
@media all and (max-width: 500px) {
    main.wrapper {
        width: 100%;
    }

    h1 {
        width: 90%;
        padding: 1em;
        margin: auto;
    }

    picture.profile img {
        width: 100%;
        float: none;
        margin: 0;
    }
}

