#saleFlash{
    animation:blink;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes blink{
    0%{   color: red;   }
    47%{   color: red; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
    }

    .text1 {
        display: inline;
        font-size: 60px;
        line-height: 1.5;
        font-weight: 300;
    }
    
    .text2 {
        font-size: 30px;
        line-height: 0;
    }

    .tablet-sales {
        display: block;
        width: 60%;
        margin: auto;
    }